<div>
    <div class="card card-chart">
        <div class="card-header card-header-success">
            <div class="ct-chart" id="chartId"></div>
            <!-- <button type="button" class="pull-right" mat-button mat-icon-button (click)="showDurationChartDetails(durationChartDetailModal)" matTooltip="Detalles">
                <mat-icon>zoom_in</mat-icon>
            </button> -->
        </div>
        <div class="card-body">
            <h4 class="card-title">{{chartTitle}}</h4>
        </div>
        <div class="card-footer">
            <div class="stats">
            </div>
        </div>
    </div>
</div>
