.mat-column-isChecked{
    width:2rem;
}
.mat-column-viewName{
    width:22rem;
}
.mat-column-showButton{
    width:2rem;
    text-align: right;
}

.card-title-align-middle {
    margin-top: 0.35rem;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 80px;
    box-sizing: border-box;
  }
