<div class="content">
    <div fxFlex="50%" *ngFor="let game of games" >
        <a [routerLink]="['./',game.id]">
            <mat-card fxLayout="column">
                <mat-card-title>
                    <img width="60%" height="60%" [src]="game.image">
                </mat-card-title>
                <br>
                <mat-progress-spinner mode="determinate" [value]="value" color="accent" ></mat-progress-spinner>
                <div style="position:relative; top: -60px; margin-left: 45%;">
                    {{value}}%
                </div>
            </mat-card>
        </a>
    </div>

</div>
