<!-- <div class="clock">
    <app-clock></app-clock>
</div> -->
<div>
    <p class="info">
        {{"Nombre: "+ userName}}
    </p>
</div>

<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive=""
        class="{{ rla.isActive ? 'selected' : ''}}" group="{{menuitem.state}}" #rla="routerLinkActive">
        <a class="" appAccordionToggle [routerLink]="['/' + menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>


    </mat-list-item>

</mat-nav-list>
