<div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <div class="row">
                    <div class="col center-block">
                        <h4 class="card-title card-title-align-middle">Diccionario</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-multi-select-list #wordsTableComponent *ngIf="dataLoaded" [(items)]="wordsAssociation"
                    [cellDefinitions]="dictionaryCellDefinitions"
                    [showIsCheckedFilter]="false"
                    [showCheckColumn]="false"
                    (showItemButtonClicked)="showSelectedWord($event)"
                    (deleteItemButtonClicked)="deleteWord($event)">

                    <button class="arasaac-btn" additionalButton matSuffix mat-raised-button (click)="showWordFromArasaac()">Buscar en ARASAAC</button>
                </app-multi-select-list>
                <button mat-raised-button color="primary" (click)="returnWordsSelection()"> Volver</button>
            </div>
        </div>
    </div>
</div>


<ng-template #searchInArasaacDialogTemplate>
    <div body class="container">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard">
                    <mat-label>Buscar en ARASAAC</mat-label>
                    <input #searchInput matInput type="text" placeholder="Buscar..." name="filterItems" />
                    <mat-icon-button matSuffix type="submit" (click)="searchInArasaac(searchInput.value)"><mat-icon>search</mat-icon></mat-icon-button>
                    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon style="background-color: red;">close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row" role="status" *ngIf="!arasaacWord">
                Cargando...
            </div>
        </div>
        <div *ngIf="arasaacWord" class="row">
            <ng-container [ngTemplateOutlet]="wordDetails" [ngTemplateOutletContext]="{word: arasaacWord}"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #wordDetailsDialogTemplate>
    <div body class="container">
        <div *ngIf="wordToShowDetails" class="row">
            <ng-container [ngTemplateOutlet]="wordDetails" [ngTemplateOutletContext]="{word: wordToShowDetails}"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #wordDetails let-word="word">
    <div class="col-md-4 pt-4">
        <div class="p-2">
            <p class="text-center">IMAGEN</p>
        </div>
        <img class="image-border" [src]="word.image" width="200" height="200">
    </div>
    <div class="col-md-4 pt-4">
        <div class="p-2">
            <p class="text-center">SIGNACIÓN</p>
        </div>
        <video class="image-border" [src]="word.video" width="200" height="200"
            autoplay [controls]="false" loop></video>
    </div>
    <div class="col-md-4 pt-4">
        <div class="p-2">
            <p class="text-center">DEFINICIÓN</p>
        </div>
        <video class="image-border" [src]="word.videoDefinition" width="200" height="200"
            autoplay [controls]="false" loop></video>
    </div>
</ng-template>

