<div class="search">
    <div>
        <form>
            <div>
                <input class="flexsearch--input" type="search" placeholder="search">
            </div>
        </form>
    </div>

    <mat-card class="card1">
        <mat-card-header class="d1">
            <mat-card-title>Hola</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="hello" src="assets/images/dict/hola.png" >

    </mat-card>

    <mat-card class="card1">
        <mat-card-header class="d1">
            <mat-card-title>Buenos días</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="hello" src="assets/images/dict/buenos-dias.png" >

    </mat-card>
</div>
