.login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
  }
  
  .button-flex-container {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.in{
    padding: 5%;
    align-items: center;
}

mat-form-field{
    width: 100%;
}