<div class="mat-elevation-z8">
    <mat-radio-group aria-label="Select an option" (change)="radioButtonFilterChange($event)">
        <mat-radio-button value="filterAll" checked="true">Todas</mat-radio-button>
        <mat-radio-button value="filterSelected">Aprendidas</mat-radio-button>
        <mat-radio-button value="filterUnselected">No aprendidas</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="standard">
        <mat-label>Buscador de palabras</mat-label>
        <input matInput type="text" placeholder="Buscar..." (input)="searchTextChange($event.target.value)" name="filterItems" />
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSortDisableClear>

        <ng-container matColumnDef="viewName">
            <th mat-header-cell *matHeaderCellDef>Palabra</th>
            <td mat-cell *matCellDef="let item">{{item.viewName}}</td>

        </ng-container>

        <ng-container matColumnDef="showButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item" justify="end">
                <button mat-icon-button  (click)="showItemButtonClicked.emit(item.id)">
                    <mat-icon class="show">remove_red_eye</mat-icon>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div>
