.card{
    width: 60%;
    height: 60%;
    margin: auto;
}

p{
    margin-left: 40%;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: transparent;
    font-size: 120%;
}

h1{
    text-align: center;
}

mat-progress-spinner{
    margin: auto;
}

mat-card-title{
    font-size: 20%;
}

.flexsearch--input {
    width: auto;
  }

.flexsearch--input {
    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
    padding: 0 46px 0 10px;
	border-color: #888;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
	border-width: 1px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

mat-list-option{
    width: auto;
    height: auto;
    margin-bottom: 2%;
}
