<mat-card>
    <mat-tab-group>
        <mat-tab label="Lista de Clase">
            <mat-form-field appearance="standard">
                <mat-label>Buscador de alumnos</mat-label>
                <input matInput type="text" (input)="searchTextChange($event.target.value, dataSourceStudents)" placeholder="Buscar..."name="filterItems" />
                <button matSuffix mat-button><mat-icon >search</mat-icon></button>

            </mat-form-field>
            <div>
                <table mat-table [dataSource]="dataSourceStudents" matSortDisableClear>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let item">{{item.name}}</td>

                    </ng-container>

                    <ng-container matColumnDef="showButton">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let item">
                            <button mat-icon-button (click)="showItemButtonClicked.emit(item.id)">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsStudents"></tr>

                    <tr mat-row *matRowDef="let row; columns: displayedColumnsStudents"></tr>

                </table>
                <mat-paginator #studentsPaginator [length]="dataSourceStudents?.data.length" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
              </div>
            <!-- <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let nameStudent of studentsClassroomList">
                    <ul>
                        <li>
                            <mat-icon>accessibility</mat-icon>
                            {{nameStudent.name}}
                        </li>
                    </ul>


                </mat-list-option>
            </mat-selection-list> -->
        </mat-tab>
        <mat-tab label="Palabras">
            <mat-form-field appearance="standard">
                <mat-label>Buscador de palabras</mat-label>
                <input matInput type="text" (input)="searchTextChange($event.target.value, dataSourceWords)"  placeholder="Buscar..." name="filterItems" />
                <button matSuffix mat-button><mat-icon >search</mat-icon></button>

            </mat-form-field>
            <button mat-button justify="end"><a [routerLink]="['add-words']">+ Añadir palabra</a></button>




            <div>
                <table mat-table [dataSource]="dataSourceWords" matSortDisableClear>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let item">{{item.name}}</td>

                    </ng-container>

                    <ng-container matColumnDef="showButton">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let item">
                            <button mat-icon-button (click)="showItemButtonClicked.emit(item.id)">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsWords"></tr>

                    <tr mat-row *matRowDef="let row; columns: displayedColumnsWords"></tr>

                </table>
                <mat-paginator #wordsPaginator [length]="dataSourceWords?.data.length" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
              </div>



        </mat-tab>
        <mat-tab label="Juegos"> Juegos
            <form>
                <div>
                    <input class="flexsearch--input" type="search" placeholder="search">
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-card>
