<mat-card>
    <!-- <container-element [ngSwitch]="classroomId">
        <app-memory-game *ngSwitchCase="1"></app-memory-game>
        <app-quiz-game *ngSwitchCase="2"></app-quiz-game>
    </container-element> -->

    <mat-tab-group>
        <mat-tab label="Lista de Clase"> Clase  <br>
            <form>
                <div>
                    <input class="flexsearch--input" type="search" placeholder="search">
                </div>
            </form>
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let nameStudent of studentsClassroomList">
                    <ul>
                        <li>
                            <mat-icon>accessibility</mat-icon>
                            {{nameStudent.name}}
                        </li>
                    </ul>


                </mat-list-option>
              </mat-selection-list>
        </mat-tab>
        <mat-tab label="Palabras"> Palabras
                <form>
                    <div>
                        <input class="flexsearch--input" type="search" placeholder="search">
                        <button mat-button class="btn-primary" style="float:right;"><a [routerLink]="['add-words']">+ Añadir palabra</a></button>
                    </div>
                </form>
                <mat-selection-list [multiple]="false">
                    <mat-list-option *ngFor="let word of wordsClassroomList">
                        <ul>
                            <li>
                                <mat-icon>accessibility</mat-icon>
                                {{word.name}}
                            </li>
                        </ul>


                    </mat-list-option>
                  </mat-selection-list>



        </mat-tab>
        <mat-tab label="Juegos"> Juegos
            <form>
                <div>
                    <input class="flexsearch--input" type="search" placeholder="search">
                </div>
            </form>
        </mat-tab>
      </mat-tab-group>
</mat-card>
