<div>
    <div class="card-body">
        <app-multi-select-list *ngIf="dataLoaded" [(items)]="gamesAssociation"
            [cardTitle]="'Añadir juegos'" [cellDefinitions]="gameCellDefinitions"
            [showPlayButton]="true" [showDetailsButton]="false"
            (editItemButtonClicked)="editSelectedGameConfiguration($event)"
            (playItemButtonClicked)="playGameButtonClicked($event)">
        </app-multi-select-list>
        <button mat-raised-button color="primary" (click)="saveGamesSelection($event)">Guardar</button>
    </div>
</div>
