<div mat-dialog-title style="display: flex; justify-content: space-between; align-items: center;">
    <h2 class="text-center">{{dialogTitle}}</h2>
    <button *ngIf="showCloseButton" mat-icon-button class="close-button" [mat-dialog-close]="true" (click)="close()">
        <mat-icon color="accent">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <ng-container [ngTemplateOutlet]="data.template"></ng-container>
</div>
<div mat-dialog-actions>
    <button *ngFor="let btn of dialogButtons" mat-raised-button (click)="btn.clicked(); close();">{{btn.text}}</button>
</div>
