<!-- <div class="alert alert-success" role="alert" data-autohide="true" data-delay="1500" data-animation="true">
    A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div> -->
<div class="notification">
    <ng-container
        *ngFor="let notification of notifications"
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{message: notification.message, type: notification.type, id: notification.id}">
    </ng-container>
</div>

<ng-template #template let-message='message' let-type='type' let-id='id'>
    <div id="{{id}}" #alertRef class="alert alert-dismissible fade show"
        [ngClass]="type === 'success' ? 'alert-success' : 'alert-danger'" role="alert">
        {{message}}
        <button type="button" data-bs-dismiss="alert" class="close" aria-label="Close" (click)="dismissAlert(id)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>
