.notification{
    position: absolute;
    right: 20px;
    bottom: 10px;
    max-width: fit-content;
    float: right;
    z-index: 1000;
}

// .close{
//     padding-top: 10% !important;
//     padding-right: 8% !important;
// }
