<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>1</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>2</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>3</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>4</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
