.example-radio-button{
  margin-left: 7px;
}

mat-grid-tile {
  background:#cf1818;
}

mat-card{
  width: 50%;
  height: auto;
  margin-left: 25%;
}

.in{
  padding: 3%;
}

.login-form-flex {
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 20%;
  }

  .button-flex-container {
    display: flex;
    width: auto;
    justify-content: flex-end;
    float: left;
}


mat-form-field{
  width: 100%;
}

.button-flex-container{
  float: right;
}

