<div class="login-form-flex">
    <mat-card class="register-card">
        <mat-tab-group #tabGroup>
            <mat-tab label="Alumno">

                <div class="in">
                    <mat-card-title>
                        Registro
                    </mat-card-title>
                    <form [formGroup]="formGroup" (submit)="saveStudent()">
                    <mat-card-content>

                            <app-user-form-group [formGroup]="formGroup" [emailLabel]="'Nickname'"
                                [emailPlaceholder]="'Ej. innesgs'">
                            </app-user-form-group>

                            <app-student-form-group [formGroup]="formGroup">
                            </app-student-form-group>
                            <br>


                            <mat-card-actions>
                                <br>
                                ¿Ya tiene cuenta?
                                <a [routerLink]="['/login']"> Iniciar sesión</a>
                                <div class="button-flex-container">
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!IsStudentFormValid()">Guardar</button>
                                </div>
                            </mat-card-actions>

                    </mat-card-content>
                    <div *ngIf="formGroup.errors?.unauthenticated" class="error-auth">
                        El usuario ya existe
                    </div>
                </form>
                </div>

            </mat-tab>

            <mat-tab label="Profesor">
                <div class="in">
                    <mat-card-title>
                        Registro
                    </mat-card-title>
                    <form [formGroup]="formGroup"  (submit)="saveTeacher()">
                    <mat-card-content>

                            <app-user-form-group [formGroup]="formGroup" [emailLabel]="'Email'"
                                [emailPlaceholder]="'Ej. innes@gmail.com'">
                            </app-user-form-group>

                            <app-teacher-form-group [formGroup]="formGroup">
                            </app-teacher-form-group>

                            <br>


                        <mat-card-actions>
                            <br>
                            ¿Ya tiene cuenta?
                            <a [routerLink]="['/login']"> Iniciar sesión</a>
                            <div class="button-flex-container">
                                <button mat-raised-button type="submit" color="primary"
                                    [disabled]="!IsTeacherFormValid()">Guardar</button>
                            </div>
                        </mat-card-actions>
                    </mat-card-content>
                    <div *ngIf="formGroup.errors?.unauthenticated" class="error-auth">
                        El usuario ya existe
                    </div>
                </form>
                </div>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</div>
