<div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <div class="row">
                    <div class="col-1 card-title-back-button">
                        <button mat-icon-button class="mat-icon-header" (click)="goBackClicked.emit()">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>
                    </div>
                    <div class="col">
                        <h4 class="card-title card-title-align-middle">Añadir {{cardTitle}}</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <mat-radio-group  aria-label="Select an option" (change)="radioButtonFilterChange($event)">
                        <mat-radio-button value="filterAll" checked="true">Todos</mat-radio-button>
                        <mat-radio-button value="filterSelected">Seleccionados</mat-radio-button>
                        <mat-radio-button value="filterUnselected">No seleccionados</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field appearance="standard">
                    <mat-label>Buscador de {{cardTitle}}</mat-label>
                    <input matInput type="text" placeholder="Buscar..." (input)="searchTextChange($event.target.value)" name="filterItems" />
                    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                </mat-form-field>

                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSortDisableClear>
                        <ng-container matColumnDef="isChecked">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let item">
                                <mat-checkbox (change)="changeSelectionItems($event, item)" [checked]="item.isChecked">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="viewName">
                            <th mat-header-cell *matHeaderCellDef>{{viewNameColumnName}}</th>
                            <td mat-cell *matCellDef="let item">{{item.viewName}}</td>

                        </ng-container>

                        <ng-container matColumnDef="showButton">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let item" justify="end">
                                <button mat-icon-button class="mat-icon-show" alt="Añadir preguntas" (click)="editItemButtonClicked.emit(item.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="mat-icon-show" (click)="showItemButtonClicked.emit(item.id)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    </table>
                    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
