<mat-grid-list [ngClass]="rotateClass ? 'quizz-content' : ''" *ngIf="this.cardQuiz" cols="2" rowHeight="2:1">
    <div *ngIf="currentQuiz < 3">
            <mat-grid-title>
                <h4 *ngIf="!cardQuiz[currentQuiz].showImage">{{cardQuiz[currentQuiz].question}}</h4>
                <img *ngIf="cardQuiz[currentQuiz].showImage" [src]="cardQuiz[currentQuiz].question" />
            </mat-grid-title>
            <mat-grid-tile *ngFor="let quiz of cardQuiz[currentQuiz].answer">
                <label>
                    <mat-card class="list-group-answers" [correctAnswer]="quiz.correct">
                        <input type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
                        <img *ngIf="quiz.showImage" width="45%" height="45%" style="margin-left: 100px;margin-right: 100px;" [src]="quiz.option">
                        <p *ngIf="!quiz.showImage" style="margin-left: 100px;margin-right: 100px;">{{quiz.option}}</p>
                    </mat-card>
                </label>
             </mat-grid-tile>
             <p class="text-center">
                {{currentQuiz + 1}} of {{cardQuiz.length}}
            </p>
    </div>

    <div *ngIf="currentQuiz > 2">
        <button class="btn btn-success btn-black" (click)="showResult()">Show Result</button>
        <div class="text-center" *ngIf="result">
            Correct Answers: {{correctAnswers}} | Incorrect Answers: {{incorrectAnswers}}
        </div>

    </div>

</mat-grid-list>
