input{
    visibility: hidden;
}
.list-group{
    align-items: center;
    transition: transform .2s;
    .list-group-answers{
        list-style: none;
        cursor: pointer;
        height: auto;
        width: auto;
        align-items: center;
        margin-left: 2em;
        margin-right: 2em;
        img{
            height: 10em;
            width: 10em;

        }
    }
}

.game-body {
	justify-content: center;
	text-align: center;
}

.list-group-answers:hover{
    background-color: rgb(226, 226, 226);
    transform: scale(1.5);
}

.quizz-content {
	-webkit-animation: quizz-content-flip 0.7s linear both;
	        animation: quizz-content-flip 0.7s linear both;
}

 @-webkit-keyframes quizz-content-flip {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    25% {
      -webkit-transform: scale(1.75) rotateY(90deg);
              transform: scale(1.75) rotateY(90deg);
    }
    50% {
      -webkit-transform: scale(2.5) rotateY(180deg);
              transform: scale(2.5) rotateY(180deg);
    }
    75% {
      -webkit-transform: scale(1.75) rotateY(270deg);
              transform: scale(1.75) rotateY(270deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
  @keyframes quizz-content-flip {
    0% {
      -webkit-transform: scale(1) rotateY(0);
              transform: scale(1) rotateY(0);
    }
    25% {
      -webkit-transform: scale(1.75) rotateY(90deg);
              transform: scale(1.75) rotateY(90deg);
    }
    50% {
      -webkit-transform: scale(2.5) rotateY(180deg);
              transform: scale(2.5) rotateY(180deg);
    }
    75% {
      -webkit-transform: scale(1.75) rotateY(270deg);
              transform: scale(1.75) rotateY(270deg);
    }
    100% {
      -webkit-transform: scale(1) rotateY(360deg);
              transform: scale(1) rotateY(360deg);
    }
  }
