<mat-card >
    <div *ngIf="currentQuiz < 3">
            <mat-card-title>{{cardQuiz[currentQuiz].question}}</mat-card-title>
            <mat-grid-list cols="2"class="list-group" *ngFor="let quiz of cardQuiz[currentQuiz].answer">
                <label>
                    <mat-grid-title class="list-group-items" [correctAnswer]="quiz.correct">
                        <input type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
                        <img width="20%" height="20%" [src]="quiz.option">
                    </mat-grid-title>
                </label>
            </mat-grid-list>
            <p class="text-center">
                {{currentQuiz + 1}} of {{cardQuiz.length}}
            </p>
    </div>
    <div *ngIf="currentQuiz > 2">
        <button class="btn btn-success btn-black" (click)="showResult()">Show Result</button>
        <div class="text-center" *ngIf="result">
            Correct Answers: {{correctAnswers}} | Incorrect Answers: {{incorrectAnswers}}
        </div>

    </div>

</mat-card>
