
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button mat-icon-button class="m-r-5" color="white"><a [routerLink]="['/login']">Login</a> </button>

<button mat-icon-button class="m-r-5" color="white"><a [routerLink]="['/login']"><mat-icon>power_off</mat-icon></a> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>

