mat-grid-tile {
  background: rgb(255, 255, 255);
}

.card{
    display: inline-block;
    margin:auto;
}

mat-card-header{
    display: inline-block;
    margin:auto;
    white-space: nowrap;
}

h1{
    text-align: center;
}
