.card{
    width: 80%;
    height: 80%;
}


h1{
    text-align: center;
}

.imagen{
    width: 50%;
    height:50%;
}

mat-progress-spinner{
    margin: auto;
}

mat-card-title{
    font-size: 20%;
}
