<h1>¿PREPARADO PARA JUGAR?</h1>
<div class="content">
    <div fxLayout="row wrap" >
        <div fxFlex="5%"*ngFor="let game of games" class="card" >
            <a [routerLink]="['./',game.id]">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>
                            {{game.name}}
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </a>
        </div>

    </div>
