<!-- <button mat-raised-button color="primary" (click)="botonHaSidoPulsado()">Botón</button> -->
<!-- <a [routerLink]="['/dashboard']"><button mat-raised-button color="primary">Botón</button></a> -->

<div class="login-form-flex">
    <mat-card>
        <mat-tab-group>
            <mat-tab label="Alumno">

                <div class="in">
                    <mat-card-title>
                        Registro
                    </mat-card-title>

                    <mat-card-content>
                        <form [formGroup]="formGroup">
                            <div formGroupName="user">

                                <mat-form-field class="width-card">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>

                                <!-- <mat-form-field class="width-card">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput>
                                </mat-form-field> -->

                             <br>

                                <mat-form-field class="width-card2">
                                    <mat-label>Nickname</mat-label>
                                    <input matInput placeholder="Ej. innesgs" formControlName="email">
                                </mat-form-field>

                                <br>

                                <mat-form-field class="width-card2">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <!--
                                <mat-form-field class="width-card2">
                                    <mat-label>Repita la contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field> -->
                            </div>

                            <div formGroupName="student">
                                <mat-form-field class="width-card2">
                                    <mat-label>Código de clase</mat-label>
                                    <input matInput placeholder="6h7Jhy1" formControlName="classroomCode">
                                </mat-form-field>
                            </div>


                            <br>
                        </form>

                        <mat-card-actions>
                            <br>
                            ¿Ya tiene cuenta?
                            <a [routerLink]="['/public/login']"> Iniciar sesión</a>
                            <div class="button-flex-container">
                                <button mat-raised-button color="primary"
                                    (click)="saveStudent()">Guardar</button>
                            </div>
                        </mat-card-actions>
                    </mat-card-content>
                </div>

            </mat-tab>

            <mat-tab label="Profesor">
                <div class="in">
                    <mat-card-title>
                        Registro
                    </mat-card-title>

                    <mat-card-content>
                        <form [formGroup]="formGroup">
                            <div formGroupName="user">
                                <mat-form-field class="width-card">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>

                                <!-- <mat-form-field class="width-card">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput>
                                </mat-form-field> -->

                                <br>

                                <mat-form-field class="width-card2">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Ej. usuario@example.com" formControlName="email">
                                </mat-form-field>

                                <br>

                                <mat-form-field class="width-card2">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <!-- <mat-form-field class="width-card2">
                                    <mat-label>Repita la contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field> -->

                            </div>
                            <div formGroupName="teacher">
                                <mat-form-field class="width-card2">
                                    <mat-label>Nombre del colegio</mat-label>
                                    <input matInput placeholder="6h7Jhy1" formControlName="schoolName">
                                </mat-form-field>
                            </div>
                            <br>
                        </form>

                        <mat-card-actions>
                            <br>
                            ¿Ya tiene cuenta?
                            <a [routerLink]="['/public/login']"> Iniciar sesión</a>
                            <div class="button-flex-container">
                                <button mat-raised-button color="primary"
                                    (click)="saveTeacher()">Guardar</button>
                            </div>
                        </mat-card-actions>
                    </mat-card-content>
                </div>
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</div>
