<div class="login-form-flex">
    <mat-card>
        <div class = "in">
            <mat-card-title>
                Registrar usuario
            </mat-card-title>

            <mat-card-content>
                <mat-form-field  class="width-card">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>
            
                <mat-form-field class="width-card">
                    <mat-label>Apellido</mat-label>
                    <input matInput>
                </mat-form-field>

                <br>

                <mat-form-field class="width-card2">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ej. usuario@example.com">
                </mat-form-field>

                <br>

                <mat-form-field class="width-card2">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="width-card2">
                    <mat-label>Repita la contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <br>

                <label id="example-radio-group-label">Rol: </label>

                <br><br>

                <mat-radio-group aria-label="Select an option">
                    <mat-slide-toggle>Profesor</mat-slide-toggle>
                </mat-radio-group>

       
            <mat-card-actions>
                <br>
                ¿Ya tiene cuenta?
                <a [routerLink]="['/public/login']"> Iniciar sesión</a>
                <div class="button-flex-container">
                    <button mat-raised-button color="primary" (click)="botonHaSidoPulsado()">Guardar</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
        </div>
    </mat-card>

</div>
<!-- <button mat-raised-button color="primary" (click)="botonHaSidoPulsado()">Botón</button> -->
<!-- <a [routerLink]="['/dashboard']"><button mat-raised-button color="primary">Botón</button></a> -->
