.cards{
    width: 90%;
    height: 20%;
    margin: auto;
    background: red;
}

h1{
    text-align: center;
}

mat-card-title{
    font-size: 20%;

    p{
        text-align: center;
        margin-top: 5%;
    }
}

a{
    text-decoration: none;
}
