
<div class="content">
    <div>
        <!-- <button mat-button matTooltip="Añadir clase" matTooltipPosition="right" ><a [routerLink]="['classrooms-form']">+ Añadir clase</a></button> -->
        <button mat-button matTooltip="Añadir clase" matTooltipPosition="right" (click)="createNewClassroom()">+ Añadir clase</button>
    </div>
</div>

<div class="container mt-3" #wordsTableComponent>
      <div class="row">
        <div class="col-lg col-md-3 col-sm-6" *ngFor="let classroom of classrooms; let i = index">
            <div #tarjeta class="row card card-block" [style.background-color]="getColor(i)">
                <div class="row bin" style="position: absolute; right: 0;">
                    <button mat-icon-button class="col mat-icon-quit" matTooltip="Borrar clase" matTooltipPosition="above" (click)="deleteClass(classroom.id)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="row" class="externo" style="align-self: self-end;">
                    <h5 class="title mt-3 mb-3">
                        <a [routerLink]="['./',classroom.id]">
                            {{classroom.name}}
                        </a>
                    </h5>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #wordDetailsDialogTemplate>
    <div body class="container">

<div class="add-class-form-flex">
    <mat-card>
        <div class = "in">
            <mat-card-content>
                <form [formGroup]="formGroup">
                    <mat-form-field  class="width-card">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </form>
            </mat-card-content>
        </div>
    </mat-card>
  </div>

    </div>
</ng-template>
