h1{
    text-align: center;
}

h5{
    font-size: 3rem;
    align-self: center;
    width: fit-content;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

a{
    text-decoration: none;
}

.bin{
    width: fit-content;
}

.card-header{
    width: fit-content;
}

.card{
    transition:0.5s;
    cursor:pointer;
}







