.card{
    width: 60%;
    height: 60%;
    margin: auto;
}

img{
    margin-left: 20%;
}

h1{
    text-align: center;
}

mat-progress-spinner{
    margin: auto;
}

mat-card-title{
    font-size: 20%;
    margin-left: 40%;
}
