<div>
    <div class="card-body">
        <app-two-side-multi-select *ngIf="dataLoaded" [(items)]="wordsAssociation"
            [cardTitle]="'palabras'" [viewNameColumnName]="'Palabra'"
            (showItemButtonClicked)="showSelectedWord($event)"
            (goBackClicked)="returnWordsSelection()">
        </app-two-side-multi-select>
        <button mat-raised-button color="primary" (click)="saveWordsSelection()">Guardar</button>
        <button mat-raised-button color="primary" (click)="returnWordsSelection()"> Volver</button>
    </div>
</div>

