<div>
    <h1 *ngIf="users.length == 0">Los usuarios aun no están cargados</h1>
    <div *ngIf="users.length > 0">
        <h3 *ngFor="let user of users">"Alumno:"{{user.name}}</h3>
    </div>
    <div *ngIf="teachers.length > 0">
        <h3 *ngFor="let teacher of teachers">"Profesor:"{{teacher.name}}</h3>
    </div>
</div>

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div  fxFlex.gt-xs="100" fxFlex="100">

        <app-sales-overview-grap></app-sales-overview-grap>

    </div>
</div>
