.login-card, .register-card{
    width: 50%;
    height: auto;
    margin-left: 25%;
    align-content: center;
}

.in{
    padding: 3%;
}

.login-form-flex {
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 20%;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('/assets/images/background/background.webp');
    width: auto;
    height: auto;
}

.button-flex-container {
    display: flex;
    width: auto;
    justify-content: flex-end;
    float: left;
}


mat-form-field{
    width: 100%;
}


.button-flex-container{
    float: right;
}
