/*******************
 Topbar
*******************/
.mat-toolbar{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    background: $themecolor-alt;
    &.topbar{
        padding: 0px 15px;
    }
    .logo-toolbar{
        margin-bottom: -1em;
        margin-left: 2rem;
        font-family: 'Bebas Neue';
        height: 80%;
        width: 90%;
        text-align: center;
        font-size: 150%;
        color: white;
    }

}
/*******************
 Topbar
*******************/
.topbar {
  position: relative;
  z-index: 2;
}

/*******************
 Icons
*******************/
.mat-icon, .mat-icon-button {
    width: fit-content;
    &.mat-icon-header{
        color: #fafafa;
        vertical-align: middle;
        a{
            color: #fafafa;
            text-decoration: none;
        }
    }
}

.mat-icon-exit{
    color: #fafafa;
    vertical-align: middle;
        a{
            color: #fafafa;
            text-decoration: none;
        }
}

.mat-icon-button{
    &.mat-icon-show{
        color: #2196F3;
        vertical-align: middle;
        a{
            color: #2196F3;
            text-decoration: none;
        }
    }

}

mat-icon.search-btn:hover{
    color: #2196F3;
}
.mat-icon-quit{
    color: #000000;
    vertical-align: middle;
        a{
            color: #fafafa;
            text-decoration: none;
        }
}
.center-button{
    display: flex;
    justify-content: center;
}

