/*******************
Main sidebar
******************/

mat-sidenav {
  width: 240px;
  padding-top: 0px;
}

#snav{
    box-shadow:  1px 0px 10px rgba(0, 0, 0, 0.5);
    //background: #BBDEFB;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('/assets/images/background/background.webp');
    .mat-list-item {
        height: auto;
        &:hover{
            background: none;
        }

        .mat-list-item-content{
            display: block;
            padding: 0px 15px;
        }

        a{
            height: 45px;
            padding: 0 10px;
            margin-bottom: 10px;
            align-items: center;
            display: flex;
            font-size: 15px;
            color: $themecolor-alt;
            font-weight: bold;
            mat-icon{
                color: $themecolor-alt;
            }
        }
        &.selected > .mat-list-item-content > a{
            background: $themecolor-alt;
            border-radius: $radius;
            //color:#2196F3;
            color:#fafafa;
            mat-icon{
                color:#fafafa;
            }

        }
    }
}
/*******************
use profile section -> donde aparece el nombre
******************/

.user-profile {
    position: relative;
    background-size:cover;


    .profile-text {
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        > a {
            color: $white!important;
            text-decoration: none;
            width: 100%;
            padding: 6px 30px;
            display: block;
            white-space: nowrap;
            text-align: center;
            &:after{
                position: absolute;
                right: 20px;
                top:20px;
            }
        }
    }

}

.sidebar-closed #snav{
    &.mat-sidenav ~ .mat-drawer-content {
          margin-left: 0px!important;
        }
}

.mat-divider{
    border-top-color: white;
}

.info{
    height: 45px;
    padding: 0 30px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
    color: $themecolor-alt;
    font-weight: bold;
}
