//TODO: ESTILOS TABLA GLOBALES

.mat-column-showButton{
    text-align: right;
}

.mat-column-name,
.mat-column-viewName {
    width: 2rem;
    text-align: left;
}

.mat-column-image {
    width: 50px;
    text-align: left;
}

table.mat-table{
    width: 94%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

mat-grid-tile{
    align-items: center;
    justify-content: center;
}

