// Variables
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


$bodyfont: 'Poppins';
$headingfont: 'Bebas Neue';

@import '~@angular/material/theming';

/*Material Theme Colors*/

$primary: mat-palette($mat-blue, 300);
$accent: mat-palette($mat-blue,700);
$warn: mat-palette($mat-pink, 700);
$theme: mat-light-theme((
    color:(
        primary: $primary,
        accent: $accent,
        warm:$warn)
));


@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif'
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

// Default Theme
@include angular-material-theme($theme);


$font-16: 16px;

$themecolor: #100f11;
$themecolor-alt: #2196F3;
$inverse: #2f3d4a;
$themecolor-sidebar: white;


/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

/*Extra Variable*/
$border: rgba(120, 130, 140, 0.13);
$radius: 4px;
