<div *ngIf="statistiscLoaded" class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">emoji_events</i>
                    </div>
                    <p class="card-category">Victorias</p>
                    <h3 class="card-title">{{totalWins}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Ratio de victorias: {{totalWins}}/{{totalGameplays}} ({{(totalGameplays === 0 ? 0 : (100 *
                        totalWins / totalGameplays)).toFixed(0)}} %)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">sentiment_dissatisfied</i>
                    </div>
                    <p class="card-category">Derrotas y Abandonos</p>
                    <h3 class="card-title">{{totalLose + totalAbandone}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Ratio de derrotas: {{totalLose}}/{{totalGameplays}} ({{(totalGameplays === 0 ? 0 : (100 *
                        totalLose / totalGameplays)).toFixed(0)}} %) <br>
                        Ratio de abandonos: {{totalAbandone}}/{{totalGameplays}} ({{(totalGameplays === 0 ? 0 : (100 *
                        totalAbandone / totalGameplays)).toFixed(0)}} %)

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                    <p class="card-category">Puntuación</p>
                    <h3 class="card-title">{{totalScore}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Puntuación máxima: {{maxScore}} ptos<br>
                        Puntuación media: {{averageScore.toFixed(0)}} ptos
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">schedule</i>
                    </div>
                    <p class="card-category">Tiempo</p>
                    <h3 class="card-title">{{getTimeFormated(totalTime)}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Tiempo medio: {{getTimeFormated(averageTime)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart">
                        <h4 class="card-title">Mejor del día</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-category">Partidas ganadas: 8 <span class="text-success"> Jose</span></p>
                    <p class="card-category">Partidas perdidas: 10 <span class="text-danger"> Raúl</span></p>
                    <p class="card-category">Partidas jugadas: 13 <span class="text-success"> Raúl</span></p>
                    <p class="card-category">Puntuación total: 180 <span class="text-success"> Jose</span></p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Martes 12 de Julio
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart">
                        <h4 class="card-title">Mejor de la semana</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-category">Partidas ganadas: 8 <span class="text-success"> Jose</span></p>
                    <p class="card-category">Partidas perdidas: 10 <span class="text-danger"> Raúl</span></p>
                    <p class="card-category">Partidas jugadas: 13 <span class="text-success"> Raúl</span></p>
                    <p class="card-category">Puntuación total: 180 <span class="text-success"> Jose</span></p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> 11 de Julio al 17 de Julio
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart">
                        <h4 class="card-title">Mejor del mes</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-category">Partidas ganadas: 8 <span class="text-success"> Jose</span></p>
                    <p class="card-category">Partidas perdidas: 10 <span class="text-danger"> Raúl</span></p>
                    <p class="card-category">Partidas jugadas: 13 <span class="text-success"> Raúl</span></p>
                    <p class="card-category">Puntuación total: 180 <span class="text-success"> Jose</span></p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Julio
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-2">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart">
                        <h4 class="card-title">Victorias/Derrotas/Abandonos</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div style="margin-right: 1.5em; max-height: 300px;">
                        <ngx-charts-line-chart *ngIf="winLoseDayChart?.length > 0"
                            [scheme]="winLoseChartInputData.colorScheme"
                            [legend]="winLoseChartInputData.legend"
                            [showXAxisLabel]="winLoseChartInputData.showXAxisLabel"
                            [showYAxisLabel]="winLoseChartInputData.showYAxisLabel"
                            [xAxis]="winLoseChartInputData.xAxis"
                            [yAxis]="winLoseChartInputData.yAxis"
                            [xAxisLabel]="winLoseChartInputData.xAxisLabel"
                            [yAxisLabel]="winLoseChartInputData.yAxisLabel"
                            [timeline]="winLoseChartInputData.timeline"
                            [rotateXAxisTicks]="true"
                            [legendPosition]="'below'"
                            [legendTitle]="''"
                            [results]="winLoseDayChart"
                            >
                        </ngx-charts-line-chart>
                    </div>
                </div>
                <div class="card-footer" style="margin-top:2.5em">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Julio
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-2">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                    <div class="ct-chart" id="completedTasksChart">
                        <h4 class="card-title">Palabras aprendidas</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div style="margin-right: 1.5em; max-height: 300px;">
                       <app-student-learned-words-chart style="max-height: inherit; margin-right: inherit;" [student]="student"></app-student-learned-words-chart>
                    </div>
                </div>
                <div class="card-footer" style="margin-top:2.5em">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Julio
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <app-student-progress></app-student-progress>
    </div>

</div>
