<button mat-icon-button (click)="goBack()">
    <mat-icon>keyboard_backspace</mat-icon>
</button>
<div class="game-body">
    <app-game-timer (timeOverEvent)="timeOver()"></app-game-timer>
    <div id="board">
        <mat-grid-list [cols]="4" rowHeight="100px" >
            <mat-grid-tile *ngFor="let boardCard of boardCards; let i = index" (click)="selectBoardCard(boardCardHtml, boardCard)">
                <div #boardCardHtml class="tarjeta" id="{{'boardCard' + boardCard.contentType + boardCard.wordId}}">
                    <div class="cara trasera" id="{{'trasera' + boardCard.contentType + boardCard.wordId}}" mat-card-title>
                        <img class="img-card" *ngIf="boardCard.contentType === 'img'" [src]="boardCard.content">
                        <p class="text-card"*ngIf="boardCard.contentType === 'text'">{{boardCard.content}}</p>
                    </div>
                    <div class="cara">
                        <mat-icon>help_outline</mat-icon>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="gameFinished && numPairsAchieved === maxPairs">
        <h1>HAS GANADO!!</h1>
    </div>
    <div *ngIf="gameFinished && numPairsAchieved !== maxPairs">
        <h1>HAS PERDIDO PANOLI!!</h1>
    </div>
    <br>
    <div>
        <button mat-raised-button class="nuevo-juego" (click)="generateBoard()">
            ¡Jugar!
        </button>
        <button mat-raised-button class="nuevo-juego" (click)="abandoned()">
            Abandonar
        </button>
    </div>
</div>
