.content{
  padding-top: 1%;
  width: 70%;
  margin: 0 auto;
}

.btn{
  display: block;
  margin:auto;
}

.name{
    font-weight: bold;
}

.img-profile{
    align-items: center;
    margin-top: 20px;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    margin-left: 20px;
}
